{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_capdmhelpdesk/helpdesk_control

    Example layout of the CAPDM Helpdesk plugin admin view.

    Example context (json):{}
}}


<div id="capdmhelpdesk-holder" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div id="capdmhelpdesk-header-holder">
                <h1>{{#str}}capdmhelpdesknameadmin, local_capdmhelpdesk{{/str}}
                <span id="add_new_message" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i id="add_new_message_indicator" class="fa fa-plus fa-stack-1x" title="{{# str }}togglenewform, local_capdmhelpdesk{{/str}}"></i>
                </span>
                </h1>
                <p>{{# str}}introadmin, local_capdmhelpdesk{{/str}}</p>

                <div id="capdmhelpdesk-feedback" class="alert alert-info" style="display: none;">
                <p></p>
                </div>
            </div>

            <div id="capdmhelpdesk-control-buttons">
                <button id="reload" class="btn btn-default helpdesk-control-button" title="{{# str }}reload, local_capdmhelpdesk{{/str}}"><i class="fa fa-repeat"></i></button>
            </div>

            <div id="key">
                <button id="show_age_0" class="btn btn-default agestatus_0 helpdesk-control-button"">{{# str}}hrallmessage, local_capdmhelpdesk{{/str}}</button>
                <button id="show_age_1" class="btn btn-default agestatus_1 helpdesk-control-button"">{{# str}}hr1message, local_capdmhelpdesk{{/str}}</button>
                <button id="show_age_6" class="btn btn-default agestatus_6 helpdesk-control-button"">{{# str}}hr6message, local_capdmhelpdesk{{/str}}</button>
                <button id="show_age_12" class="btn btn-default agestatus_12 helpdesk-control-button"">{{# str}}hr12message, local_capdmhelpdesk{{/str}}</button>
                <button id="show_age_24" class="btn btn-default agestatus_24 helpdesk-control-button"">{{# str}}hr24message, local_capdmhelpdesk{{/str}}</button>
                <button id="show_age_48" class="btn btn-default agestatus_48 helpdesk-control-button"">{{# str}}hr48message, local_capdmhelpdesk{{/str}}</button>
            </div>
            <!-- Message list holder -->
            <div data-region="capdmhelpdesk-msg-list-admin" id="capdmhelpdesk-msg-list-admin" class="helpdesk-holder">
                {{^messages}}
                    <h2 class="light-text">{{# str }}nomessagesyetadmin, local_capdmhelpdesk{{/str}}</h2>
                {{/messages}}
                {{#messages}}
                    <div id="action_buttons_{{id}}" class="capdmhelpdesk-action-buttons" style="display: none">
                        <button id="action_reply_{{id}}" class="btn btn-default btn-sm capdmhelpdesk-action-button" title="{{# str }}replymessagebuttontitle, local_capdmhelpdesk{{/str}}">{{# str }}replymessagebutton, local_capdmhelpdesk{{/str}}</button>
                        {{#status}}
                            <span class="alreadyclosed">{{# str }}alreadyclosed, local_capdmhelpdesk{{/str}}</span>
                        {{/status}}
                        {{^status}}
                            <button id="action_close_{{id}}" class="btn btn-default btn-sm capdmhelpdesk-action-button" title="{{# str }}closemessagebuttontitle, local_capdmhelpdesk{{/str}}">{{# str }}closemessagebutton, local_capdmhelpdesk{{/str}}</button>
                        {{/status}}
                    </div>
                    <div id="msgid_{{id}}" class="messageholder-main holder_age_{{agestatus}}" title="{{# str }}clicktoview, local_capdmhelpdesk{{/str}}">
                        <div class="status agestatus_{{agestatus}}">
                            <i id="closeicon_{{id}}" class="fa fa-close closeicon_{{status}}" style="display: none;"></i>
                            <div id="msgid_{{id}}_details" class="messagedetails">
                                <p><span class="label">{{# str }}msgage, local_capdmhelpdesk{{/str}}</span>{{age}}</span></p>
                                <p><span class="label">{{# str }}categorylabel, local_capdmhelpdesk{{/str}}</span>{{category}}</span></p>
                                <p><span class="label">{{# str }}msgid, local_capdmhelpdesk{{/str}}</span>{{id}}</p>
                                <p><span class="label">{{# str }}labelsubject, local_capdmhelpdesk{{/str}}</span>{{subject}}</p>
                                <p><span class="label">{{# str }}labelreplies, local_capdmhelpdesk{{/str}}</span>{{replies}}</p>
                                <p><span class="label">{{# str }}labelsubmitdate, local_capdmhelpdesk{{/str}}</span>{{# str }} submitdate, local_capdmhelpdesk, { "datesubmitted": {{# quote }}{{submitdate}}{{/ quote }} }{{/str}}</p>
                            {{#updatedate}}
                                <p class="updated {{readflag}}"><span class="label">{{# str }}labelupdatedate, local_capdmhelpdesk{{/str}}</span>{{# str }} updatedate, local_capdmhelpdesk, { "dateupdated": {{# quote }}{{updatedate}}{{/ quote }}, "fullname": {{# quote }}{{firstname}} {{lastname}}{{/ quote }} }{{/str}}</p>
                            {{/updatedate}}
                            {{^updatedate}}
                            {{/updatedate}}

                                <div id="origmessage_{{id}}"  style="display: none;">
                                    <p><span class="label">{{# str }}labelorigmessage, local_capdmhelpdesk{{/str}}</span></p>
                                    <div id="origmessage">{{message}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="msgid_{{id}}_reply_holder" class="messageholder-replies" style="display: none;">
                    <form id="form_reply_message" class="form_validate" action="#" method="post">
                        <textarea id="reply" name="reply" class="form-control" rows="6" placeholder="Enter your reply here..." type="text"></textarea>
                        <input id="replyto" name="replyto" type="hidden" value="{{id}}">
                        <input id="replierid" name="replierid" type="hidden" value="{{userid}}">
                        <input id="owner" name="owner" type="hidden" value="{{userid}}">
                        <input id="notify" name="notify" type="hidden" value="student">
                        <button class="btn btn-primary" title="{{#str}}replyformbuttontitle, local_capdmhelpdesk{{/str}}">{{# str }}replyformbutton, local_capdmhelpdesk{{/str}}</button>
                    </form>
                </div>
                <div data-region="msgid_{{id}}_replies" id="msgid_{{id}}_replies" class="messageholder-replies" style="display: none;">
                    <div class="waiting"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><span class="sr-only">{{# str}}loadingreplies, local_capdmhelpdesk{{/str}}</span></div>
                </div>
                {{/messages}}
            </div>
        </div>
    </div>
</div>