{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_capdmhelpdesk/message_list

    Example layout of the CAPDM Helpdesk plugin.

    Example context (json):{}
}}

<div data-region="capdmhelpdesk-msg-list" id="capdmhelpdesk-msg-list" class="helpdesk-holder">
    {{^messages}}
        <h2 class="light-text">{{# str }}nomessagesyetadmin, local_capdmhelpdesk{{/str}}</h2>
    {{/messages}}
    {{#messages}}
        <div id="msgid_{{id}}" class="messageholder-main holder_age_{{agestatus}} cat_{{categoryid}} category" title="{{# str }}clicktoview, local_capdmhelpdesk{{/str}}">
            <div class="status agestatus_{{agestatus}}">
                <div class="message-icons">
                    <i id="action_collapse_{{id}}" class="fa fa-close closeicon_{{status}} capdmhelpdesk-action-button" style="display: none;"></i>
                    <i id="action_close_{{id}}" class="fa fa-window-close closestatusicon_{{status}} capdmhelpdesk-action-button" title="{{# str }}closemessagebuttontitle, local_capdmhelpdesk{{/str}}" style="display: none;"></i>
                </div>
                <div id="msgid_{{id}}_details" class="messagedetails adminview">
                    <div class="status-holders status">
                        <div class="status-item status">
                            {{# str }}msgage, local_capdmhelpdesk{{/str}}</span><br /><strong>{{age}}</strong>
                        </div>
                        <div class="status-item status">
                            {{# str }}msgid, local_capdmhelpdesk{{/str}}</span><br /><strong>{{id}}</strong>
                        </div>
                        <div class="status-item status">
                            {{# str }}labelreplies, local_capdmhelpdesk{{/str}}</span><br /><strong>{{replies}}</strong>
                        </div>
                        <div class="status-item status">
                            {{# str }}labelsubmitdate, local_capdmhelpdesk{{/str}}</span><br /><strong>{{# str }} submitdate, local_capdmhelpdesk, { "datesubmitted": {{# quote }}{{submitdate}}{{/ quote }} }{{/str}}</strong>
                        </div>
                        {{#status}}
                        <div class="status-item status">
                            <i class="fa fa-window-close-o fa-lg keepshow"></i><br />{{# str}}autocloselabel, local_capdmhelpdesk{{/str}}
                        </div>
                        {{/status}}
                    </div>
                    <div id="messagedetails_{{id}}" class="messagedetails_content">
                        <p><span class="label">{{# str }}categorylabel, local_capdmhelpdesk{{/str}}</span>{{category}}</span></p>
                        <p><span class="label">{{# str }}labelsubject, local_capdmhelpdesk{{/str}}</span>{{subject}}</p>

                        {{#updatedate}}
                            <p class="updated {{readflag}}"><span class="label">{{# str }}labelupdatedate, local_capdmhelpdesk{{/str}}</span>{{# str }} updatedate, local_capdmhelpdesk, { "dateupdated": {{# quote }}{{updatedate}}{{/ quote }}, "fullname": {{# quote }}{{firstname}} {{lastname}}{{/ quote }} }{{/str}}</p>
                        {{/updatedate}}
                        {{^updatedate}}
                        {{/updatedate}}

                        <div id="origmessage_{{id}}"  style="display: none;">
                            <p><span class="label">{{# str }}labelorigmessage, local_capdmhelpdesk{{/str}}</span></p>
                            <div id="origmessage">{{message}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="action_reply_{{id}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary replybutton capdmhelpdesk-action-button" title="{{# str}}openreplybox, local_capdmhelpdesk{{/str}}" style="display: none;">
        <i class="fa fa-reply capdmhelpdesk-action-button"></i> {{# str}}openreplybox, local_capdmhelpdesk{{/str}}
    </div>
    <div id="reply_message_waiting" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waitingmessage" style="display: none;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></p>
                <h3>{{# str}}sendingnewmessage, local_capdmhelpdesk{{/str}}</h3>
            </div>
        </div>
    </div>
    <div id="msgid_{{id}}_reply_holder" class="messageholder-replies" style="display: none;">
        <form id="form_reply_message_{{id}}" class="form_validate form_reply_message" action="#" method="post">
            <textarea id="reply" name="reply" class="form-control" rows="6" placeholder="Enter your reply here..." type="text"></textarea>
            <input id="replyto" name="replyto" type="hidden" value="{{id}}">
            <input id="replierid" name="replierid" type="hidden" value="{{userid}}">
            <input id="owner" name="owner" type="hidden" value="{{owner}}">
            <input id="subject" name="subject" type="hidden" value="{{subject}}">
            <input id="notify" name="notify" type="hidden" value="student">
            <div id="autoclose-holder">
                <input type="checkbox" id="autoclose" name="autoclose" checked value="-1" title="{{# str}}autoclosetitle, local_capdmhelpdesk{{/str}}"><span class="checkboxlabel">{{# str}}autoclose, local_capdmhelpdesk{{/str}}{{{autoclosehelp}}}</span>
            </div>
            <button id="replyformbuttontitle" class="btn btn-primary" title="{{#str}}replyformbuttontitle, local_capdmhelpdesk{{/str}}">{{# str }}replyformbutton, local_capdmhelpdesk{{/str}}</button>

        </form>
    </div>
    <div data-region="msgid_{{id}}_replies" id="msgid_{{id}}_replies" class="messageholder-replies" style="display: none;">
        <div class="waiting"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><span class="sr-only">{{# str}}loadingreplies, local_capdmhelpdesk{{/str}}</span></div>
    </div>
    {{/messages}}
</div>